.containerNavbar {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  size: 40px;
}
.list {
  margin: 20px;
  list-style: none;
}
.ul {
  display: flex;
}
.img {
  height: 100px;
}
